{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-proposal-throw-expressions",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@pages": "./src/front/pages",
          "@components": "./src/front/components",
          "@utils": "./src/utils",
          "@contexts": "./src/front/contexts",
          "@fixtures": "./src/fixtures",
          "@services": "./src/services",
          "@routes": "./src/routes",
          "@root": "./src"
        }
      }
    ],
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "removeAttrs": { "attrs": "(data-name)" }
            },
            {
              "cleanupIDs": true
            }
          ]

        }
      }
    ]
  ]
}